:root {
  --background-color: #ffffff;
  --text-color: #333333;
  --active-tab-color: #666666;
  --primary-color: #465298;
  --secondary-color: #7a89ef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333333;
    --text-color: #dddddd;
    --active-tab-color: #dddddd;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: sans-serif;
}

mosquito-message-stream {
  height: 56vh;
}

#tabs {
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
}

#tabs > * {
  display: block;
  padding: 0.75rem 1.25rem;
  color: black;
  border: 1px solid #dddddd;
  border-bottom-width: 0px;
  border-radius: 3px 3px 0px 0px;
  background-color: #999999;
  color: var(--background-color);
}

#tabs .active {
  color: white;
  color: var(--background-color);
  background-color: var(--active-tab-color);
}

#tab-content {
  display: flex;
  border: 1px solid #dddddd;
}

#tab-content > * {
  display: none;
  width: 100%;
  margin: 1rem;
}

#tab-content .active {
  display: block;
}
