:host {
  display: block;
  width: 100%;
}

body {
  width: 100%;
  --primary-color: #465298;
  --secondary-color: #606dbc;
}

#header {
  display: flex;
  gap: 1rem;
}

.container {
  width: 100%;
  display: flex;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid black;
  padding: 0.5rem;
}

tbody > tr:nth-child(even of .executor-row) {
  background-color: #dddddd;
}

.executor-id {
  width: 20%;
}

.jps {
  width: 20%;
}

tr.progress-row td {
  padding: 0;
}

.progress-bar {
  height: .25rem;
  width: 100%;
  background-color: #465298;
}

.progress-bar.spin {
  background-image: 
    repeating-linear-gradient(
      -45deg, 
      var(--primary-color),
      var(--primary-color) 1rem,
      var(--secondary-color) 1rem,
      var(--secondary-color) 2rem
    );
  background-position: 100% 100%;
  background-size: 200% 200%;
  animation: barberpole 10s linear infinite;
}

@keyframes barberpole {
  100% {
    background-position: 0% 0%;
  }
}
